<h1>ADMIN DASHBOARD<span class="m_1">Welcome <%= user.name %></span></h1>
<div id="overviews" class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 blog-post-single">
        <div class="blog-author">
          <div class="author-bio">
            <h3 class="author_name">Lectures you enrolled</h3>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
      <div class="row container">
        <table class="table">
          <thead class="">
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Delete</th>
          </thead>

          <tbody class="text-center">
            <% for(let i = 0; i< users.length; i++) { %>
            <tr>
              <th scope="row"><%= users[i]._id %></th>
              <td><%= users[i].email %></td>
              <td><%= users[i].role %></td>
              <td>
                <a
                  href="/users/<%= users[i]._id %>?_method=DELETE"
                  onclick="return confirm('Are you sure?')"
                  class="btn btn-danger rounded-0 text-white"
                  ><span>Delete</span></a
                >
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>
